{% extends 'core/base.html' %}
{% block content %}
    <div class="container mt-5">
        <h2>Хронологическая таблица событий</h2>
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Дата</th>
                        <th>Описание</th>
                        <th>Категория</th>
                    </tr>
                </thead>
                <tbody>
                    {% for event in events %}
                        <tr>
                            <td>{{ event.date }}</td>
                            <td>{{ event.description }}</td>
                            <td>{{ event.get_category_display }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
