{% extends 'core/base.html' %}
{% block content %}
<h1>Тренажёр для изучения исторических событий</h1>
<p>Добро пожаловать в наш тренажёр! Здесь вы можете добавлять исторические события, просматривать их в хронологическом порядке и проверять свои знания с помощью интерактивных тестов.</p>
<ul>
    <li><a href="{% url 'add_event' %}">Добавить событие</a></li>
    <li><a href="{% url 'events_table' %}">Хронологическая таблица событий</a></li>
    <li><a href="{% url 'quiz' %}">Интерактивный тест</a></li>
</ul>
{% endblock %}
